<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" th:href="@{/css/w3.css}">
    <script th:src="@{/js/jquery-3.6.0.min.js}"></script>
    <title>Project</title>
</head>
<body>
    <header th:replace="fragments/header :: headerFragment"></header>
    <div layout:fragment="content"></div>
    <footer th:replace="fragments/footer :: footerFragment"></footer>
</body>

</html>