<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">



<div layout:fragment="content">
	<div class="w3-blue">
			<a class="w3-button" href="/customer/main">고객 메인페이지</a>
			<br>
			<a class="w3-button" href="/customer/status">요청 후 고객현황</a>
	</div>
	<div class="w3-red">
			<a class="w3-button" href="/owner/main">요청받은 사장 메인페이지</a>
			<br>
			<a class="w3-button" href="/owner/history">쿠폰 최근사용내역</a>
			<br>
			<a class="w3-button" href="/owner/admin">회원관리</a>
	</div>

</div>
</html>